body {
    padding: 10px;
}

#listing_active_details {
    margin-top: 25px;
}

#listing-row {
    margin-left: 25px;
}

#listing-img-col {
    margin-left: 25px;
    float: left;
    width: 20%;
    text-align: center;
}

#listing-details-col {
    margin-left: 100px;
    width: 20%;
}

#listing-img {
    width:100%;
    height:100%;
    object-fit: contain;
}

#listed-top-bar {
    margin-left: 50px;
}

#listed-img {
    width:25%;
    height:25%;
    object-fit: contain;
}

#listed-img-div {
    margin-left: 50px;
    margin-top: 50px;
}

#listed-details-div {
    margin-left: 50px;
    margin-top: 25px;
}

#listed-details-div-inside {
    display: inline-block;
}

#listed-details-content {
    text-align: left;
}

#comment-section {
    margin-top: 25px;
    margin-left: 50px;
}

#create-form {
    width: 40%;
}

#description-para {
    white-space: pre-wrap;
}