#links {
    float: right;
}

#form {
    display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;
}

input {
    outline:none;
   }

.button {
    font-family: arial, sans-serif;
	font-size: 12px;
    padding: 8px;
	border-radius:3px;
    font-weight: bold;
    margin-left:3px;
	margin-right:3px;
	margin-top: 15px;
    border: 1px solid #c0bcbc;
	background: #f8f9fa;
	color:#696969;
}

img {
    width:auto;
    max-width: 300px;
	max-height: 100px;
	margin:5px;
}

#search {
    width: 570px;
	height: 44px;
	border-top: 1px solid #e9e7e7;
	border-bottom: 1px solid #e9e7e7;
	border-right: 1px solid #e9e7e7;
	border-left: 1px solid #e9e7e7;
    border-radius: 30px;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:5px;
	background-repeat:no-repeat;
	background-position:548px 4px;
	background-size:14px 19px;
}