{% extends "auctions/layout.html" %}
{% load tags %}

{% block body %}
    <h2>Categories</h2>
    <div>
        <hr>
    </div>
    {% for category in categories_list %}
    <div id="categories-display-div">
        <h4><a href="{% url 'category' category %}">{{ category }}</a></h4>
        {% for listing in listings %}
        {% if not listing.closed %}
            {% get_category listing.id as listing_category%}
                {% if listing_category == category %}
                <div id="listing-row" class="row">
                    <div id="listing-img-col" class="column">
                       {% if listing.image %}
                          <img id="listing-img" src="{{ listing.image }}">
                       {% endif %}
                    </div>
                    <div id="listing-details-col" class="column">
                        <h5 id="listing-title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h5>
                        <p><b>Seller:</b> {{ listing.seller }}</p>
                        <p><b>Starting bid:</b> £{{ listing.start_bid }}</p>
                        {% get_highest_bidder listing.id as highest_bidder %}
                        <p><b>Current bid:</b> £{{ highest_bidder.bid }}</p>
                        <p><b>Date posted:</b> {{ listing.listing_date }}</p>
                        {% if listing.category %}
                            <p><b>Category:</b> {{ listing_category }}</p>
                        {% endif %}
                        <p id="description-para"><b>Description:</b> {{ listing.description }}</p>
                        {% get_watchlist_status user.username listing.id as watch_status %}
                        {% if watch_status %}
                            <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-dark" value="Remove From Watchlist" style="font-size:14px">
                            </form>
                        {% else %}
                            <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-dark" value="Add To Watchlist" style="font-size:14px">
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% endfor %}
        <hr>
        {% endfor %}
    </div>
{% endblock %}
