{% extends "auctions/layout.html" %}
{% load tags %}
{% block body %}
    <h2>Active Listings</h2>
    <hr>
    {% for listing in listings %}
        <div id="listing-row" class="row">
            <div id="listing-img-col" class="column">
               {% if listing.image %}
                  <img id="listing-img" src="{{ listing.image }}">
               {% endif %}
            </div>
            <div id="listing-details-col" class="column">
                <h5 id="listing-title"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h5>
                <p><b>Seller:</b> {{ listing.seller }}</p>
                <p><b>Starting bid:</b> £{{ listing.start_bid }}</p>
                <p><b>Date posted:</b> {{ listing.listing_date }}</p>
                <p><b>Description:</b> {{ listing.description }}</p>
                {% get_watchlist_status user.username listing.id as watch_status %}
                {% if watch_status %}
                    <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Remove From Watchlist" style="font-size:14px">
                    </form>
                {% else %}
                    <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Add To Watchlist" style="font-size:14px">
                    </form>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}