{% extends "auctions/layout.html" %}
{% load tags %}

{% block body %}
    <div id="listed-top-bar">
        {% get_category listing.id as category %}
        <h2>{{ listing.title }}</h2>
        <p style="font-size:12px">In {{ category }}</p>
        {% get_watchlist_status user.username listing.id as watch_status %}
        {% if watch_status %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark" value="Remove From Watchlist" style="font-size:13px">
            </form>
        {% else %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark" value="Add To Watchlist" style="font-size:13px">
            </form>
        {% endif %}
    </div>
    <div id="listed-img-div" >
        <img id="listed-img" src="{{ listing.image }}">
    </div>
    <hr>
    <div id="listed-details-div" >
        <div id="listed-details-div-inside">
            <a id="listed-details-content">
                <p>
                    <b style="display:inline-block">Seller:</b> {{ listing.seller }}
                </p>
                <p><b>Starting bid:</b> £{{ listing.start_bid }}</p>
                {% get_highest_bid listing.id as highest_bid %}
                <p><b>Current bid:</b> £{{ highest_bid }}</p>
                <p><b>Date posted:</b>  {{ listing.listing_date }}</p>
                <p><b>Description:</b>  {{ listing.description }}</p>
            </a>
            {% if user.is_authenticated %}
            <div id="bid-div">
                <form id="bid-form" class="form-group" action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" class="form-control" name="bid" placeholder="0" style="width:auto">
                    <input type="submit" class="btn btn-dark" value="Bid" style="margin-top:10px">
                </form>
            </div>
            {% endif %}
            {% if failed_bid_message %}
                <p style="color:#cc0000">{{ failed_bid_message }}</p>
            {% endif %}
        </div>
        <hr>
    </div>
    {% if user.is_authenticated %}
    <div id="comment-section">
        <h5>Comments:</h5>
        <hr>
        <div id="posted-comments">
            {% if comments %}
                {% for comment in comments %}
                    <p>
                        <a><b>{{ comment.user }}: </b></a>
                        {% time_since_comment comment.time as time_since %}
                        <a>{{ comment.comment }}</a>
                    </p>
                    <a style="font-size:11px">{{ time_since.1 }} {{ time_since.0 }} ago</a>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
        <div id="comment-box-div">
            <form id="comment-form" action="{% url 'post_comment' listing.id %}" class="form-group" method="post">
                <textarea name="text" form="comment-form" class="form-control" placeholder="Post a comment" rows="4" cols="25"></textarea><br />
                {% csrf_token %}
                <input type="submit" class="btn btn-dark" value="comment">
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

