{% extends "auctions/layout.html" %}
{% load tags %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    {% get_watchlist_status user.username listing.id as watch_status %}
    {% if watch_status %}
        <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-dark" value="Remove From Watchlist">
        </form>
    {% else %}
        <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-dark" value="Add To Watchlist">
        </form>
    {% endif %}
    <div id="listed-container">
        <div id="listed-row" class="row">
            <div id="listed-img-col" class="column">
                <img id="listed-img" src="{{ listing.image }}">
            </div>
            <div id="listed-details-col" class="column">
                <ul>
                    <p></p>
                    <li>Seller: {{ listing.seller }}</li>
                    <li>Description: {{ listing.description }}</li>
                    <li>Starting bid: £{{ listing.start_bid }}</li>
                    <li>Date posted: {{ listing.listing_date }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}