{% extends "network/layout.html" %}

{% block body %}
    {% if not user.is_authenticated %}
    <div id="not-authenticated">
        <p>
            Oops, you are not signed in!
        </p>
        <p>
            <a href="/login">Log In</a>
            or
            <a href="/register">Register</a>
        </p>
    </div>
    {% else %}
    <div id="new-post">
        <form>
            {% csrf_token %}
            <div>
                <textarea id="new-post-textarea"></textarea>
            </div>
            <div>
                <input id="submit-post" class="btn btn-primary" type="submit" value="Post">
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}